@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    List<Proj.Models.Product> Watches = ViewBag.WatchesList;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="~/css/productCard.css" rel="stylesheet" />

<div style="text-align:center" class="alert-dark"><a asp-action="Index"><h1>Smart-Watches</h1></a></div>

<div class="container d-flex justify-content-center mt-50 mb-50">
    @using (Html.BeginForm("index", "Watches", FormMethod.Post))
    {
        <div class="form-actions no-color d-inline-block">
            <p>
                <i class="fas fa-search"></i>
                find by color <input class="bi bi-search form-control" type="text" name="color" value="@ViewData["colorfilter"]" placeholder="Seach.." />
            </p>
        </div>
        <div class="form-actions no-color d-inline-block">
            <p>
                <i class="fas fa-search"></i>
                find by max price<input class="form-control" type="text" name="price" value="@ViewData["PriceFilter"]" placeholder="Seach.." />
            </p>
        </div>
        <div style="text-align:center">
            <input type="submit" value="search" class="btn btn-primary" />
        </div>
    }
</div>


<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        @foreach (var Watch in Watches)
        {
            var srcImg = "~/images/SmartWatches/" + Watch.Source;

            <div class="col-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <a asp-action="Details" asp-route-id="@Watch.ID" class="text-default mb-2" data-abc="true">
                            <div class="card-img-actions">
                                <img asp-append-version="true" src=@srcImg class="card-img img-fluid" width="96" height="250" alt="" />
                            </div>
                        </a>

                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2">
                                <a asp-action="Details" asp-route-id="@Watch.ID" class="text-default mb-2" data-abc="true">
                                    @Watch.Name
                                </a>
                            </h6>
                        </div>

                        <div class="ml-2"> <h3 class="act-price">$@Watch.Price</h3></div>
                        <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                        <div class="text-muted mb-3">34 reviews</div> 
                        <a  asp-action="AddToCart" asp-route-id="@Watch.ID"  class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</a>
                    </div>
                </div>
            </div>


        }

    </div>



</div>
